.listDataWrapper {
    max-height: 70px;
    overflow: hidden;
    // overflow-y: scroll;
    // overflow-x: hidden;
    // border-bottom: solid 1px #fff;
    // border-radius: 5px;

    p {
        text-decoration: underline;
    }
}

.listSingleRowWrapper {
    border-bottom: 1px solid rgba(83, 83, 83, 0.8);
}
