.footerWrapper {
    height: 80px;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100vw;
    overflow: hidden;
    @media screen and (max-height: '1000px') {
        bottom: -80px;
    }
}
