.navbarButton {
    border-radius: 10px !important;
    border: none !important;
    background-color: #f7a31d !important;
    margin: 0 10px;

    &:hover {
        background-color: rgba(247, 163, 29, 0.9) !important;
    }
    &Active {
        color: #ab82f6 !important;
        border-radius: 10px !important;

        &:hover {
            background-color: rgba(247, 163, 29, 0.9) !important;
            color: #fff !important;
        }
    }
}
